@use '../helpers/' as *;

.contact {
  &__inner {
    width: 95%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap {
    color: #fff;
    font-family: 'Pretendard-Regular';

    h2 {
      font-size: remSet(40px);
      font-weight: 800;
      text-align: center;
      margin-bottom: remSet(30px);

      @include mobile {
        font-size: 5vw;
        margin-bottom: 3vw;
      }

      @include mobile-mini {
        font-size: 8vw;
        margin-bottom: 8vw;
      }
    }

    ul {
      display: flex;
      gap: remSet(80px);

      @include mobile {
        gap: 8vw;
      }

      li {
        position: relative;
        padding-bottom: remSet(3px);
        &::before {
          content: '';
          width: 0;
          height: 1px;
          background: #fff;
          position: absolute;
          left: remSet(30px);
          bottom: 0;
          transition: width 0.3s;
        }
        &:hover {
          &::before {
            width: calc(100% - remSet(25px));
            transition: width 0.3s;
          }
        }
        input {
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 0;
        }

        a,
        label {
          display: flex;
          align-items: center;
          font-size: remSet(20px);

          @include mobile {
            font-size: 3vw;
          }

          @include mobile-mini {
            font-size: 4.5vw;
          }

          cursor: pointer;
          &::before {
            content: '';
            display: block;
            width: remSet(25px);
            aspect-ratio: 1/1;
            margin-right: remSet(10px);

            @include mobile {
              width: 3vw;
            }
            @include mobile-mini {
              width: 4.5vw;
            }
          }
        }

        &.instagram {
          a,
          label {
            &::before {
              background: url('/resources/images/contact/instagram.png')
                no-repeat center center/contain;
            }
          }
        }

        &.mail {
          #myMail {
            position: absolute;
            opacity: 0;
            z-index: -1;
          }

          a,
          label {
            &::before {
              background: url('/resources/images/contact/email.png') no-repeat
                center center/contain;
            }
          }
        }
      }
    }
  }
}
