@use '../helpers/' as *;

.filmo {
  width: 100%;
  overflow-x: hidden;
  margin: remSet(100px) 0;
  &__inner {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    padding: remSet(100px) 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;

    @include mobile {
      justify-content: space-between;
      gap: 1vw;

      .sec_tit {
        transform: translateY(-25vw);
      }
    }
  }

  .filmoSwiper {
    width: 50%;
    padding: remSet(30px);
    color: #000;
    height: remSet(150px);
    position: relative;

    @include mobile {
      width: calc(100% - 26vw);
      padding: 0;
    }

    @include mobile-mini {
      height: remSet(80px);
    }

    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      transition-timing-function: linear;

      .swiper-slide {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        color: #fff;
        cursor: grab;

        &.swiper-slide-active {
          opacity: 1;
        }
        dl {
          display: flex;
          gap: remSet(30px);
          width: 100%;
          font-size: remSet(22px);
          font-family: 'Diphylleia-Regular';

          @include mobile {
            font-size: 3vw;
            justify-content: flex-end;
          }
          @include mobile-mini {
            font-size: 3.5vw;
          }

          span {
            font-size: remSet(15px);
            margin-right: remSet(5px);
            opacity: 0.8;

            @include mobile {
              font-size: 2.5vw;
            }
          }

          dt {
            width: 50%;
            font-weight: 700;
            text-align: right;
            text-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.5);
            line-height: 1.2;

            @include mobile-mini {
              width: 60%;
            }
          }

          dd {
            width: 50%;
            font-weight: 200;
            text-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.5);

            @include mobile-mini {
              width: 35%;
              font-size: 3vw;
            }
          }
        }
      }
    }

    .filmo-year {
      color: #fff;
      font-size: remSet(22px);
      position: absolute;
      right: 0;
      top: remSet(62px);
      font-family: 'Diphylleia-Regular';

      @include mobile {
        top: 3.3vw;
        right: auto;
        left: -16vw;
        font-size: 3vw;
      }

      #filmoYear {
        position: relative;
        display: block;
      }

      .arrow {
        display: block;
        width: remSet(17px);
        aspect-ratio: 3/4;
        position: absolute;
        left: remSet(-30px);
        top: remSet(2px);
        background: url('/resources/images/main/triangle.svg') no-repeat center
          center/contain;

        @include mobile {
          top: 0.5vw;
          left: auto;
          right: -3.5vw;
          transform: rotate(180deg);
          width: 1.9vw;
        }
      }
    }
  }
  .filmo-thum {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;
    opacity: 0.5;
    height: 50vh;
    transform: translateY(-50%);

    @include mobile {
      opacity: 0.2;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}
